# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/tests
/vendor
.DS_Store

# dependencies
/node_modules
/bower_components
.DS_Store

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
yarn-error.log
testem.log
.DS_Store

# ember-try
.node_modules.ember-try/
package-lock.json
bower.json.ember-try
package.json.ember-try
.DS_Store
