<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui stackable menu inverted top fixed center aligned huge"><br>
    <h2 class="ui inverted header">Ember Quiz application</h2>
  </div>
</div><br><br><br><br>
<div class="ui piled segment">
  <div class="ui center aligned container">
    {{outlet}}
  </div>
</div>
<div class="ui stackable menu inverted bottom fixed huge">
  <p class="ui bottom attached label black" id="footer">Designed by Zoho Backstage</p>
</div>
