<div class="ui inverted vertical masthead center aligned segment">
  <center><i class="ember huge standard icon"></i>
    <h1><i>Quiz Application</i></h1>
  </center>

</div>
<div class="ui standard center aligned piled segment">
  <div class="ui container">
    {{outlet}}
  </div>
</div>

<div class="ui stackable menu bottom fixed inverted huge">
  <p class="ui bottom attached label black" id="footer">
    Designed by Zoho Backstage<br>
  </p>
</div>
